.Page2-Esports {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.Video4 {
  width: 70%;
}
.Page3-Esports {
  height: 600px;
  width: 100%;
  display: flex;
  column-gap: 50px;
}
.Image153 {
  width: 70%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 46% 100%, 0% 100%);
  position: relative;
  top: 400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}
.Page3-Esports-right {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 30%;
  justify-content: center;
  height: 70%;
}
.Page3-Esports-right > h1 {
  width: 100%;
}
.Page3-Esports-right > p {
  line-height: 28px;
  color: rgba(0, 0, 0, 0.511);
  width: 80%;
}

.Page4-Esports {
  height: 600px;
  width: 100%;
  display: flex;
}
.Page4-Esports-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-left: 5%;
  width: 30%;
  height: 70%;
}
.Page4-Esports-left > h1 {
  width: 100%;
}
.Page4-Esports-left > p {
  line-height: 28px;
  color: rgba(0, 0, 0, 0.511);
  width: 80%;
}
.Image154 {
  width: 70%;
  height: 90%;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
  top: 400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}
.Page5-Esports {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
}
.Image156 {
  width: 100%;
  height: 100%;
  position: relative;
  top: 400px;
  transition: all 1s cubic-bezier(.29,.04,.52,1);
}


@media only screen and (max-width: 1025px) {
  .Page3-Esports {
    height: 100%;
    flex-wrap: wrap;
  }
  .Page4-Esports {
    height: 100%;
    flex-wrap: wrap;
  }
  .Image153{
    clip-path: none;
    width: 100%;
  }
  .Page3-Esports-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 5px solid black;
  }
  .Page3-Esports-right > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .Page4-Esports-left {
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Page4-Esports-left > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .Image154 {
    clip-path: none;
    width: 100%;
  }
  .Borderbottom{
    width: 100%;
  }
  .menu-Motorsport .A-text-Motorsport::before {
    width: 100%;
  }
}


@media only screen and (max-width:850px) {
  .Page2-Esports {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Video4{
    width: 90%;
  }
}

@media only screen and (max-width:545px) {
  .Page1-Motorsport-left > h1 {
    font-size: 60px;
  }
  .Page1-Motorsport-left > h2 {
    font-size: 30px;
  }
  .Page5-Esports{
    height: 400px;
  }
}